body{
    margin: 0;
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height:60%;
    width: 45%;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: rgb(99, 97, 97) 5px 5px 15px;
    border-radius: 10px;
}

.photo{
    height: 90%;
    width: 40%;
    background: linear-gradient(rgb(133, 254, 163),rgb(255, 255, 128),rgb(249, 101, 101));
    position: absolute;
    left: -15px;
    box-shadow: rgb(143, 141, 141) 5px 5px 15px;
    position: relative;
    border-radius: 10px;
    
    
}
.photo h1{
    
    position: absolute;
    top: -65px;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(192, 196, 153);
    opacity: 90;
}

.photo img{
    height: 240px;
    width: 330px;
    position: absolute;
    left: -60px;
    top: 60px;
}

.text{
    height: 100%;
    width: 60%;
    box-sizing: border-box;
    background-color: transparent;

    padding-left: 20px;
    border-radius: 10px;
    position: relative;

}
.text p{
    font-family:sans-serif;
    color: rgb(153, 153, 153);
}

.text h1{
    font-weight: bold;
    color:  rgb(238, 54, 54);
}
.btn{
    height: 30px;
    width: 100%;
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 15px;
    
}
.btn button{
    height: 30px;
    width: 130px;
    background-color: rgb(238, 54, 54);
    border: 0;
    border-radius: 15px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
